In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
data = pd.read_csv("/content/Customers.csv", encoding="ISO-8859-1")

In [3]:
data.head(10)

,CustomerKey,Gender,Name,City,State Code,State,Zip Code,Country,Continent,Birthday
0,301,Female,Lilly Harding,WANDEARAH EAST,SA,South Australia,5523,Australia,Australia,7/3/1939
1,325,Female,Madison Hull,MOUNT BUDD,WA,Western Australia,6522,Australia,Australia,9/27/1979
2,554,Female,Claire Ferres,WINJALLOK,VIC,Victoria,3380,Australia,Australia,5/26/1947
3,786,Male,Jai Poltpalingada,MIDDLE RIVER,SA,South Australia,5223,Australia,Australia,9/17/1957
4,1042,Male,Aidan Pankhurst,TAWONGA SOUTH,VIC,Victoria,3698,Australia,Australia,11/19/1965
5,1086,Male,Hayden Clegg,TEMPLERS,SA,South Australia,5371,Australia,Australia,1/20/1954
6,1133,Male,Nicholas Caffyn,JUBILEE POCKET,QLD,Queensland,4802,Australia,Australia,11/22/1969
7,1256,Male,Lincoln Jenks,KULLOGUM,QLD,Queensland,4660,Australia,Australia,3/12/1950
8,1314,Male,Isaac Israel,EDITH RIVER,NT,Northern Territory,852,Australia,Australia,12/21/1965
9,1568,Male,Luke Virtue,KOTTA,VIC,Victoria,3565,Australia,Australia,7/25/1975

In [4]:
data.head(20)

,CustomerKey,Gender,Name,City,State Code,State,Zip Code,Country,Continent,Birthday
0,301,Female,Lilly Harding,WANDEARAH EAST,SA,South Australia,5523,Australia,Australia,7/3/1939
1,325,Female,Madison Hull,MOUNT BUDD,WA,Western Australia,6522,Australia,Australia,9/27/1979
2,554,Female,Claire Ferres,WINJALLOK,VIC,Victoria,3380,Australia,Australia,5/26/1947
3,786,Male,Jai Poltpalingada,MIDDLE RIVER,SA,South Australia,5223,Australia,Australia,9/17/1957
4,1042,Male,Aidan Pankhurst,TAWONGA SOUTH,VIC,Victoria,3698,Australia,Australia,11/19/1965
5,1086,Male,Hayden Clegg,TEMPLERS,SA,South Australia,5371,Australia,Australia,1/20/1954
6,1133,Male,Nicholas Caffyn,JUBILEE POCKET,QLD,Queensland,4802,Australia,Australia,11/22/1969
7,1256,Male,Lincoln Jenks,KULLOGUM,QLD,Queensland,4660,Australia,Australia,3/12/1950
8,1314,Male,Isaac Israel,EDITH RIVER,NT,Northern Territory,852,Australia,Australia,12/21/1965
9,1568,Male,Luke Virtue,KOTTA,VIC,Victoria,3565,Australia,Australia,7/25/1975
10,1585,Female,Anna Hallstrom,GREEN LAKE,VIC,Victoria,3401,Australia,Australia,8/12/1990
11,1626,Female,Mary Leach,NEDS CORNER,VIC,Victoria,3496,Australia,Australia,10/17/1985
12,1642,Female,Ruby Ambrose,TARLO,NSW,New South Wales,2580,Australia,Australia,3/3/1965
13,1677,Male,Dean Innes,ELLESMERE,QLD,Queensland,4610,Australia,Australia,11/22/1964
14,1817,Female,Laura Le Rennetel,BEAUCHAMP,VIC,Victoria,3579,Australia,Australia,7/10/1986
15,1863,Female,Chelsea Watkins,NAMBOUR DC,QLD,Queensland,4560,Australia,Australia,9/22/1984
16,1945,Male,Angus Beaurepaire,GREENFIELDS,WA,Western Australia,6210,Australia,Australia,9/20/1974
17,2238,Female,Isabelle Cochran,BRUCKNELL,VIC,Victoria,3268,Australia,Australia,10/31/1969
18,2248,Male,Rory Spargo,JUNG,VIC,Victoria,3401,Australia,Australia,12/15/1987
19,2435,Female,Lilian Hall,BLAKEBROOK,NSW,New South Wales,2480,Australia,Australia,4/1/1968

In [5]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15266 entries, 0 to 15265
Data columns (total 10 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   CustomerKey  15266 non-null  int64
 1   Gender       15266 non-null  object
 2   Name         15266 non-null  object
 3   City         15266 non-null  object
 4   State Code   15256 non-null  object
 5   State        15266 non-null  object
 6   Zip Code     15266 non-null  object
 7   Country      15266 non-null  object
 8   Continent    15266 non-null  object
 9   Birthday     15266 non-null  object
dtypes: int64(1), object(9)
memory usage: 1.2+ MB

In [6]:
# Getting unique values in the data
data.nunique()

CustomerKey    15266
Gender             2
Name           15118
City            8258
State Code       467
State            512
Zip Code        9505
Country            8
Continent          3
Birthday       11270
dtype: int64

In [7]:
#Checkng percentage of null values
data.isnull().sum()
data.isnull().sum() / data.shape[0] * 100

CustomerKey    0.000000
Gender         0.000000
Name           0.000000
City           0.000000
State Code     0.065505
State          0.000000
Zip Code       0.000000
Country        0.000000
Continent      0.000000
Birthday       0.000000
dtype: float64

In [8]:
len(data['State Code'])

15266

In [9]:
data.shape[0]

15266

In [10]:
len(data)

15266

In [11]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15266 entries, 0 to 15265
Data columns (total 10 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   CustomerKey  15266 non-null  int64
 1   Gender       15266 non-null  object
 2   Name         15266 non-null  object
 3   City         15266 non-null  object
 4   State Code   15256 non-null  object
 5   State        15266 non-null  object
 6   Zip Code     15266 non-null  object
 7   Country      15266 non-null  object
 8   Continent    15266 non-null  object
 9   Birthday     15266 non-null  object
dtypes: int64(1), object(9)
memory usage: 1.2+ MB

In [12]:
data.describe()

        CustomerKey
count  1.526600e+04
mean   1.060508e+06
std    6.127097e+05
min    3.010000e+02
25%    5.140335e+05
50%    1.079244e+06
75%    1.593980e+06
max    2.099937e+06

In [13]:
data.isnull()

,CustomerKey,Gender,Name,City,State Code,State,Zip Code,Country,Continent,Birthday
0,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...
15261,False,False,False,False,False,False,False,False,False,False
15262,False,False,False,False,False,False,False,False,False,False
15263,False,False,False,False,False,False,False,False,False,False
15264,False,False,False,False,False,False,False,False,False,False
15265,False,False,False,False,False,False,False,False,False,False

In [14]:
null_values = data.isnull()
null_values.head()

,CustomerKey,Gender,Name,City,State Code,State,Zip Code,Country,Continent,Birthday
0,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False

In [15]:
rows_with_null = data[data.isnull().any(axis=1)]
rows_with_null

,CustomerKey,Gender,Name,City,State Code,State,Zip Code,Country,Continent,Birthday
5304,729681,Female,Rossana Padovesi,Polvica,NaN,Napoli,80035,Italy,Europe,4/18/1981
5316,732289,Male,Indro Piccio,Varcaturo,NaN,Napoli,80014,Italy,Europe,2/24/1949
5372,742042,Male,Amaranto Loggia,Casaferro,NaN,Napoli,80034,Italy,Europe,3/14/1936
5377,742886,Female,Edmonda Capon,Terzigno,NaN,Napoli,80040,Italy,Europe,8/6/1963
5378,743343,Female,Ambra Sagese,Pomigliano D'Arco,NaN,Napoli,80038,Italy,Europe,1/5/1961
5485,759705,Male,Callisto Lo Duca,Casilli,NaN,Napoli,80047,Italy,Europe,8/28/1976
5525,765589,Male,Michelino Lucchesi,Pompei Scavi,NaN,Napoli,80045,Italy,Europe,11/13/1947
5531,766410,Male,Adelmio Beneventi,Licola,NaN,Napoli,80078,Italy,Europe,1/13/1940
5631,781667,Female,Ilda Manna,Napoli,NaN,Napoli,80134,Italy,Europe,5/8/1977
5695,789177,Male,Calogero Folliero,Mariglianella,NaN,Napoli,80030,Italy,Europe,3/3/2000

In [16]:
#The Customers data has below problems
#1. Pandas is reading NA as NaN values. So, I'll replace NaN values back to "NA" in the State Code column
#2. The State code column for country 'United Kingdom' has the long state names. For this I replace the state code with the keyword 'UK' to make it uniform with the rest of the state codes
#3. The Birthday column is stored as Object so I changed it to datatime format
#data_cleaned = data.dropna(subset=['State Code'])

In [17]:
data['State Code'].fillna('NA', inplace=True)
rows_with_null = data[data.isnull().any(axis=1)]
rows_with_null
#data_cleaned.isnull().sum()
#data_cleaned.isnull().sum() / data.shape[0] * 100

Empty DataFrame
Columns: [CustomerKey, Gender, Name, City, State Code, State, Zip Code, Country, Continent, Birthday]
Index: []

In [18]:
data_cleaned = data
data_cleaned.isnull().sum()
data_cleaned.isnull().sum() / data.shape[0] * 100

CustomerKey    0.0
Gender         0.0
Name           0.0
City           0.0
State Code     0.0
State          0.0
Zip Code       0.0
Country        0.0
Continent      0.0
Birthday       0.0
dtype: float64

In [19]:
#2. The State code column for country 'United Kingdom' has the long state names. For this I replace the state code with the keyword 'UK' to make it uniform with the rest of the state codes
#Replace 'State Code' with 'UK where the country is United Kingdom
data_cleaned.loc[data['Country'] == 'United Kingdom', 'State Code'] = 'UK'

In [20]:
print(data_cleaned['State Code'])

0         SA
1         WA
2        VIC
3         SA
4        VIC
        ...
15261     TX
15262     VA
15263     NC
15264     CA
15265     MI
Name: State Code, Length: 15266, dtype: object

In [21]:
uk_entries = data_cleaned[data_cleaned['Country'] == 'United Kingdom']
print(uk_entries)

      CustomerKey  Gender            Name           City State Code  \
6494       900030    Male     John Ingram  DENNYLOANHEAD         UK
6495       900052  Female   Emily Hammond    UPPER BORTH         UK
6496       900108    Male     Max Farrell    NORTH COTES         UK
6497       900296  Female      Jodie Wood      BROOMHEAD         UK
6498       900387  Female   Lilly Simpson        BOSSALL         UK
...           ...     ...             ...            ...        ...
8433      1199531  Female   Emily Vincent       IRONSIDE         UK
8434      1199657    Male    Elliot Doyle    CHAPEL HILL         UK
8435      1199660    Male      Oscar Webb       ROSEWELL         UK
8436      1199675    Male  Jordan Randall     BRIGHSTONE         UK
8437      1199757    Male     Charlie Lee       CULCHETH         UK

                        State  Zip Code         Country Continent    Birthday
6494                  Falkirk   FK4 8UY  United Kingdom    Europe    9/1/1966
6495               Ceredigion  SY24 5DZ  United Kingdom    Europe   6/26/1945
6496  North East Lincolnshire  DN36 7JZ  United Kingdom    Europe  12/30/1963
6497            Aberdeenshire  AB43 7UT  United Kingdom    Europe  11/24/1941
6498                     York   YO6 1RD  United Kingdom    Europe   5/17/1970
...                       ...       ...             ...       ...         ...
8433            Aberdeenshire  AB53 4BU  United Kingdom    Europe   5/26/1974
8434           North Kesteven   LN4 0UY  United Kingdom    Europe  11/27/1993
8435               Midlothian  EH24 4WJ  United Kingdom    Europe    2/3/1980
8436            Isle of Wight  PO30 9WS  United Kingdom    Europe  12/10/1951
8437                    Wigan   WA3 2ET  United Kingdom    Europe   10/8/1970

[1944 rows x 10 columns]

In [22]:
uk_entries.head(30)

,CustomerKey,Gender,Name,City,State Code,State,Zip Code,Country,Continent,Birthday
6494,900030,Male,John Ingram,DENNYLOANHEAD,UK,Falkirk,FK4 8UY,United Kingdom,Europe,9/1/1966
6495,900052,Female,Emily Hammond,UPPER BORTH,UK,Ceredigion,SY24 5DZ,United Kingdom,Europe,6/26/1945
6496,900108,Male,Max Farrell,NORTH COTES,UK,North East Lincolnshire,DN36 7JZ,United Kingdom,Europe,12/30/1963
6497,900296,Female,Jodie Wood,BROOMHEAD,UK,Aberdeenshire,AB43 7UT,United Kingdom,Europe,11/24/1941
6498,900387,Female,Lilly Simpson,BOSSALL,UK,York,YO6 1RD,United Kingdom,Europe,5/17/1970
6499,900515,Male,Leon Cooper,Waterloo,UK,Pembrokeshire,SA72 3BL,United Kingdom,Europe,9/8/1974
6500,900827,Male,Isaac Henderson,LITTLE STRETTON,UK,Leicester,LE2 7NX,United Kingdom,Europe,10/4/1983
6501,901225,Female,Demi Lowe,DALVOURN,UK,Highland,IV1 0PS,United Kingdom,Europe,6/21/1981
6502,901390,Female,Isabella Hobbs,HOLLAND-ON-SEA,UK,Tendring,CO15 9DN,United Kingdom,Europe,9/2/1969
6503,901932,Male,Nicholas O'Neill,HENFIELD,UK,Horsham,BN5 6QD,United Kingdom,Europe,12/31/1976
6504,902361,Male,Gabriel Gibbons,ROCKFIELD,UK,Newport,NP5 9HU,United Kingdom,Europe,6/24/1979
6505,902687,Female,Eloise Sanderson,BUTCOMBE,UK,Bristol,BS18 3XE,United Kingdom,Europe,6/5/1935
6506,902770,Male,Ellis Rice,POPE HILL,UK,Pembrokeshire,SA62 5RZ,United Kingdom,Europe,1/10/1951
6507,902878,Male,Mohammad Barrett,NORMANTON ON TRENT,UK,Newark and Sherwood,NG23 6XJ,United Kingdom,Europe,5/27/1988
6508,902893,Male,Gabriel Miah,HIGH BALANTYRE,UK,Argyllshire,PA32 3ET,United Kingdom,Europe,1/5/1939
6509,903369,Female,Olivia Lucas,WADDINGTON,UK,Lincoln,LN5 9QA,United Kingdom,Europe,5/10/1957
6510,903464,Female,Abbie Cameron,INVERIE,UK,Highland,PH41 3FZ,United Kingdom,Europe,3/24/1942
6511,903629,Female,Naomi Bond,ALVECOTE,UK,Tamworth,B79 2QN,United Kingdom,Europe,1/19/1982
6512,903847,Male,Luke Crawford,OAKENCLOUGH,UK,Fylde,PR3 5BT,United Kingdom,Europe,6/2/1979
6513,903932,Male,Tom Morris,INVERCHAOLAIN,UK,Argyllshire,PA23 1FB,United Kingdom,Europe,4/27/1991
6514,904480,Female,Natasha Watson,EAST CHILTINGTON,UK,Lewes,BN7 8LE,United Kingdom,Europe,8/9/1981
6515,905099,Male,Adam Butler,ABERAMAN,UK,Rhondda Cynon Taf,CF44 2DZ,United Kingdom,Europe,5/2/1944
6516,905100,Female,Mollie Burton,FINSTALL,UK,Bromsgrove,B60 4AQ,United Kingdom,Europe,5/7/1982
6517,905452,Female,Laura Macdonald,HIGH ELLINGTON,UK,Ripon,HG4 6EF,United Kingdom,Europe,12/3/1959
6518,905530,Male,Hayden Ahmed,WARLEGGAN,UK,Cornwall,PL30 7UW,United Kingdom,Europe,8/1/1953
6519,905552,Female,Maya Hooper,EAST KILBRIDE,UK,South Lanarkshire,G74 2NZ,United Kingdom,Europe,2/24/1963
6520,905730,Female,Sarah Watson,BROADSTONE,UK,Shropshire,SY7 2NR,United Kingdom,Europe,11/18/1972
6521,905762,Male,Alex Stewart,DUNALASTAIR,UK,Perth and Kinross,PH16 3WE,United Kingdom,Europe,7/16/1965
6522,905783,Male,Ethan Baldwin,BURSTOW,UK,Crawley,RH6 1ZS,United Kingdom,Europe,1/2/1988
6523,905941,Male,Connor Pickering,LOWER TEAN,UK,Staffordshire,ST10 0GJ,United Kingdom,Europe,4/6/1953

In [23]:
print(data_cleaned[data_cleaned['Country'] == 'United Kingdom']['State Code'].unique())

['UK']

In [24]:
#3. The Birthday column is stored as Object so I changed it to datatime format
print(data_cleaned.dtypes)

CustomerKey     int64
Gender         object
Name           object
City           object
State Code     object
State          object
Zip Code       object
Country        object
Continent      object
Birthday       object
dtype: object

In [25]:
data_cleaned['Birthday'] = pd.to_datetime(data_cleaned['Birthday'],format='%m/%d/%Y')
print(data_cleaned.dtypes)

CustomerKey             int64
Gender                 object
Name                   object
City                   object
State Code             object
State                  object
Zip Code               object
Country                object
Continent              object
Birthday       datetime64[ns]
dtype: object

In [26]:
print(data_cleaned['Birthday'].head(20))

0    1939-07-03
1    1979-09-27
2    1947-05-26
3    1957-09-17
4    1965-11-19
5    1954-01-20
6    1969-11-22
7    1950-03-12
8    1965-12-21
9    1975-07-25
10   1990-08-12
11   1985-10-17
12   1965-03-03
13   1964-11-22
14   1986-07-10
15   1984-09-22
16   1974-09-20
17   1969-10-31
18   1987-12-15
19   1968-04-01
Name: Birthday, dtype: datetime64[ns]

In [27]:
data_cleaned.head(80)

,CustomerKey,Gender,Name,City,State Code,State,Zip Code,Country,Continent,Birthday
0,301,Female,Lilly Harding,WANDEARAH EAST,SA,South Australia,5523,Australia,Australia,1939-07-03
1,325,Female,Madison Hull,MOUNT BUDD,WA,Western Australia,6522,Australia,Australia,1979-09-27
2,554,Female,Claire Ferres,WINJALLOK,VIC,Victoria,3380,Australia,Australia,1947-05-26
3,786,Male,Jai Poltpalingada,MIDDLE RIVER,SA,South Australia,5223,Australia,Australia,1957-09-17
4,1042,Male,Aidan Pankhurst,TAWONGA SOUTH,VIC,Victoria,3698,Australia,Australia,1965-11-19
...,...,...,...,...,...,...,...,...,...,...
75,10189,Female,Alexis Birchell,FOREST REEFS,NSW,New South Wales,2798,Australia,Australia,1962-04-07
76,10276,Male,Angus Bardolph,BATEAU BAY,NSW,New South Wales,2261,Australia,Australia,1972-11-01
77,10299,Male,Anthony Macvitie,BEELBANGERA,NSW,New South Wales,2680,Australia,Australia,1937-05-27
78,10332,Male,James Burnage,Palmyra,WA,Western Australia,6157,Australia,Australia,1937-03-26
79,10393,Male,Nicholas Moncrieff,ROSENTHAL HEIGHTS,QLD,Queensland,4370,Australia,Australia,1981-11-29

In [28]:
data_cleaned.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15266 entries, 0 to 15265
Data columns (total 10 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   CustomerKey  15266 non-null  int64
 1   Gender       15266 non-null  object
 2   Name         15266 non-null  object
 3   City         15266 non-null  object
 4   State Code   15266 non-null  object
 5   State        15266 non-null  object
 6   Zip Code     15266 non-null  object
 7   Country      15266 non-null  object
 8   Continent    15266 non-null  object
 9   Birthday     15266 non-null  datetime64[ns]
dtypes: datetime64[ns](1), int64(1), object(8)
memory usage: 1.2+ MB

In [29]:
data_cleaned.head(20)

,CustomerKey,Gender,Name,City,State Code,State,Zip Code,Country,Continent,Birthday
0,301,Female,Lilly Harding,WANDEARAH EAST,SA,South Australia,5523,Australia,Australia,1939-07-03
1,325,Female,Madison Hull,MOUNT BUDD,WA,Western Australia,6522,Australia,Australia,1979-09-27
2,554,Female,Claire Ferres,WINJALLOK,VIC,Victoria,3380,Australia,Australia,1947-05-26
3,786,Male,Jai Poltpalingada,MIDDLE RIVER,SA,South Australia,5223,Australia,Australia,1957-09-17
4,1042,Male,Aidan Pankhurst,TAWONGA SOUTH,VIC,Victoria,3698,Australia,Australia,1965-11-19
5,1086,Male,Hayden Clegg,TEMPLERS,SA,South Australia,5371,Australia,Australia,1954-01-20
6,1133,Male,Nicholas Caffyn,JUBILEE POCKET,QLD,Queensland,4802,Australia,Australia,1969-11-22
7,1256,Male,Lincoln Jenks,KULLOGUM,QLD,Queensland,4660,Australia,Australia,1950-03-12
8,1314,Male,Isaac Israel,EDITH RIVER,NT,Northern Territory,852,Australia,Australia,1965-12-21
9,1568,Male,Luke Virtue,KOTTA,VIC,Victoria,3565,Australia,Australia,1975-07-25
10,1585,Female,Anna Hallstrom,GREEN LAKE,VIC,Victoria,3401,Australia,Australia,1990-08-12
11,1626,Female,Mary Leach,NEDS CORNER,VIC,Victoria,3496,Australia,Australia,1985-10-17
12,1642,Female,Ruby Ambrose,TARLO,NSW,New South Wales,2580,Australia,Australia,1965-03-03
13,1677,Male,Dean Innes,ELLESMERE,QLD,Queensland,4610,Australia,Australia,1964-11-22
14,1817,Female,Laura Le Rennetel,BEAUCHAMP,VIC,Victoria,3579,Australia,Australia,1986-07-10
15,1863,Female,Chelsea Watkins,NAMBOUR DC,QLD,Queensland,4560,Australia,Australia,1984-09-22
16,1945,Male,Angus Beaurepaire,GREENFIELDS,WA,Western Australia,6210,Australia,Australia,1974-09-20
17,2238,Female,Isabelle Cochran,BRUCKNELL,VIC,Victoria,3268,Australia,Australia,1969-10-31
18,2248,Male,Rory Spargo,JUNG,VIC,Victoria,3401,Australia,Australia,1987-12-15
19,2435,Female,Lilian Hall,BLAKEBROOK,NSW,New South Wales,2480,Australia,Australia,1968-04-01

In [30]:
#Reading the Product data
data_products = pd.read_csv("/content/Products.csv", encoding="ISO-8859-1")

In [31]:
data_products.head(20)

,ProductKey,Product Name,Brand,Color,Unit Cost USD,Unit Price USD,SubcategoryKey,Subcategory,CategoryKey,Category
0,1,Contoso 512MB MP3 Player E51 Silver,Contoso,Silver,$6.62,$12.99,101,MP4&MP3,1,Audio
1,2,Contoso 512MB MP3 Player E51 Blue,Contoso,Blue,$6.62,$12.99,101,MP4&MP3,1,Audio
2,3,Contoso 1G MP3 Player E100 White,Contoso,White,$7.40,$14.52,101,MP4&MP3,1,Audio
3,4,Contoso 2G MP3 Player E200 Silver,Contoso,Silver,$11.00,$21.57,101,MP4&MP3,1,Audio
4,5,Contoso 2G MP3 Player E200 Red,Contoso,Red,$11.00,$21.57,101,MP4&MP3,1,Audio
5,6,Contoso 2G MP3 Player E200 Black,Contoso,Black,$11.00,$21.57,101,MP4&MP3,1,Audio
6,7,Contoso 2G MP3 Player E200 Blue,Contoso,Blue,$11.00,$21.57,101,MP4&MP3,1,Audio
7,8,Contoso 4G MP3 Player E400 Silver,Contoso,Silver,$30.58,$59.99,101,MP4&MP3,1,Audio
8,9,Contoso 4G MP3 Player E400 Black,Contoso,Black,$30.58,$59.99,101,MP4&MP3,1,Audio
9,10,Contoso 4G MP3 Player E400 Green,Contoso,Green,$30.58,$59.99,101,MP4&MP3,1,Audio
10,11,Contoso 4G MP3 Player E400 Orange,Contoso,Orange,$30.58,$59.99,101,MP4&MP3,1,Audio
11,12,Contoso 4GB Flash MP3 Player E401 Blue,Contoso,Blue,$35.72,$77.68,101,MP4&MP3,1,Audio
12,13,Contoso 4GB Flash MP3 Player E401 Black,Contoso,Black,$35.72,$77.68,101,MP4&MP3,1,Audio
13,14,Contoso 4GB Flash MP3 Player E401 Silver,Contoso,Silver,$35.72,$77.68,101,MP4&MP3,1,Audio
14,15,Contoso 4GB Flash MP3 Player E401 White,Contoso,White,$35.72,$77.68,101,MP4&MP3,1,Audio
15,16,Contoso 8GB Super-Slim MP3/Video Player M800 W...,Contoso,White,$50.56,$109.95,101,MP4&MP3,1,Audio
16,17,Contoso 8GB Super-Slim MP3/Video Player M800 Red,Contoso,Red,$50.56,$109.95,101,MP4&MP3,1,Audio
17,18,Contoso 8GB Super-Slim MP3/Video Player M800 G...,Contoso,Green,$50.56,$109.95,101,MP4&MP3,1,Audio
18,19,Contoso 8GB Super-Slim MP3/Video Player M800 Pink,Contoso,Pink,$50.56,$109.95,101,MP4&MP3,1,Audio
19,20,Contoso 8GB MP3 Player new model M820 Black,Contoso,Black,$61.62,$134.00,101,MP4&MP3,1,Audio

In [32]:
data_products.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2517 entries, 0 to 2516
Data columns (total 10 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   ProductKey      2517 non-null   int64
 1   Product Name    2517 non-null   object
 2   Brand           2517 non-null   object
 3   Color           2517 non-null   object
 4   Unit Cost USD   2517 non-null   object
 5   Unit Price USD  2517 non-null   object
 6   SubcategoryKey  2517 non-null   int64
 7   Subcategory     2517 non-null   object
 8   CategoryKey     2517 non-null   int64
 9   Category        2517 non-null   object
dtypes: int64(3), object(7)
memory usage: 196.8+ KB

In [33]:
data_products.isnull().sum()

ProductKey        0
Product Name      0
Brand             0
Color             0
Unit Cost USD     0
Unit Price USD    0
SubcategoryKey    0
Subcategory       0
CategoryKey       0
Category          0
dtype: int64

In [34]:
data_products.isnull().sum() / data_products.shape[0] * 100

ProductKey        0.0
Product Name      0.0
Brand             0.0
Color             0.0
Unit Cost USD     0.0
Unit Price USD    0.0
SubcategoryKey    0.0
Subcategory       0.0
CategoryKey       0.0
Category          0.0
dtype: float64

In [35]:
data_products.nunique()

ProductKey        2517
Product Name      2517
Brand               11
Color               16
Unit Cost USD      480
Unit Price USD     426
SubcategoryKey      32
Subcategory         32
CategoryKey          8
Category             8
dtype: int64

In [36]:
#In the Product data, we need to convert unit price and unit cost columns to float and remove the characters like '$,'

data_products['Unit Cost USD'] = data_products['Unit Cost USD'].replace('[\$,]', '', regex = True).str.strip().astype(float)
data_products['Unit Price USD'] = data_products['Unit Price USD'].replace('[\$,]', '', regex = True).str.strip().astype(float)

In [37]:
data_products.head(20)

,ProductKey,Product Name,Brand,Color,Unit Cost USD,Unit Price USD,SubcategoryKey,Subcategory,CategoryKey,Category
0,1,Contoso 512MB MP3 Player E51 Silver,Contoso,Silver,6.62,12.99,101,MP4&MP3,1,Audio
1,2,Contoso 512MB MP3 Player E51 Blue,Contoso,Blue,6.62,12.99,101,MP4&MP3,1,Audio
2,3,Contoso 1G MP3 Player E100 White,Contoso,White,7.40,14.52,101,MP4&MP3,1,Audio
3,4,Contoso 2G MP3 Player E200 Silver,Contoso,Silver,11.00,21.57,101,MP4&MP3,1,Audio
4,5,Contoso 2G MP3 Player E200 Red,Contoso,Red,11.00,21.57,101,MP4&MP3,1,Audio
5,6,Contoso 2G MP3 Player E200 Black,Contoso,Black,11.00,21.57,101,MP4&MP3,1,Audio
6,7,Contoso 2G MP3 Player E200 Blue,Contoso,Blue,11.00,21.57,101,MP4&MP3,1,Audio
7,8,Contoso 4G MP3 Player E400 Silver,Contoso,Silver,30.58,59.99,101,MP4&MP3,1,Audio
8,9,Contoso 4G MP3 Player E400 Black,Contoso,Black,30.58,59.99,101,MP4&MP3,1,Audio
9,10,Contoso 4G MP3 Player E400 Green,Contoso,Green,30.58,59.99,101,MP4&MP3,1,Audio
10,11,Contoso 4G MP3 Player E400 Orange,Contoso,Orange,30.58,59.99,101,MP4&MP3,1,Audio
11,12,Contoso 4GB Flash MP3 Player E401 Blue,Contoso,Blue,35.72,77.68,101,MP4&MP3,1,Audio
12,13,Contoso 4GB Flash MP3 Player E401 Black,Contoso,Black,35.72,77.68,101,MP4&MP3,1,Audio
13,14,Contoso 4GB Flash MP3 Player E401 Silver,Contoso,Silver,35.72,77.68,101,MP4&MP3,1,Audio
14,15,Contoso 4GB Flash MP3 Player E401 White,Contoso,White,35.72,77.68,101,MP4&MP3,1,Audio
15,16,Contoso 8GB Super-Slim MP3/Video Player M800 W...,Contoso,White,50.56,109.95,101,MP4&MP3,1,Audio
16,17,Contoso 8GB Super-Slim MP3/Video Player M800 Red,Contoso,Red,50.56,109.95,101,MP4&MP3,1,Audio
17,18,Contoso 8GB Super-Slim MP3/Video Player M800 G...,Contoso,Green,50.56,109.95,101,MP4&MP3,1,Audio
18,19,Contoso 8GB Super-Slim MP3/Video Player M800 Pink,Contoso,Pink,50.56,109.95,101,MP4&MP3,1,Audio
19,20,Contoso 8GB MP3 Player new model M820 Black,Contoso,Black,61.62,134.00,101,MP4&MP3,1,Audio

In [38]:
data_products.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2517 entries, 0 to 2516
Data columns (total 10 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   ProductKey      2517 non-null   int64
 1   Product Name    2517 non-null   object
 2   Brand           2517 non-null   object
 3   Color           2517 non-null   object
 4   Unit Cost USD   2517 non-null   float64
 5   Unit Price USD  2517 non-null   float64
 6   SubcategoryKey  2517 non-null   int64
 7   Subcategory     2517 non-null   object
 8   CategoryKey     2517 non-null   int64
 9   Category        2517 non-null   object
dtypes: float64(2), int64(3), object(5)
memory usage: 196.8+ KB

In [39]:
data_stores = pd.read_csv("/content/Stores.csv", encoding="ISO-8859-1")

In [40]:
data_stores.head(20)

,StoreKey,Country,State,Square Meters,Open Date
0,1,Australia,Australian Capital Territory,595.0,1/1/2008
1,2,Australia,Northern Territory,665.0,1/12/2008
2,3,Australia,South Australia,2000.0,1/7/2012
3,4,Australia,Tasmania,2000.0,1/1/2010
4,5,Australia,Victoria,2000.0,12/9/2015
5,6,Australia,Western Australia,2000.0,1/1/2010
6,7,Canada,New Brunswick,1105.0,5/7/2007
7,8,Canada,Newfoundland and Labrador,2105.0,7/2/2014
8,9,Canada,Northwest Territories,1500.0,3/4/2005
9,10,Canada,Nunavut,1210.0,4/4/2015
10,11,Canada,Yukon,1210.0,6/3/2009
11,12,France,Basse-Normandie,350.0,6/6/2012
12,13,France,Corse,245.0,6/7/2013
13,14,France,Franche-ComtÃ©,350.0,12/15/2009
14,15,France,La RÃ©union,400.0,1/1/2015
15,16,France,Limousin,385.0,6/3/2010
16,17,France,Martinique,350.0,7/8/2007
17,18,France,Mayotte,310.0,8/8/2012
18,19,Germany,Berlin,1295.0,4/4/2015
19,20,Germany,Brandenburg,1715.0,12/15/2012

In [41]:
data_stores.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 67 entries, 0 to 66
Data columns (total 5 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   StoreKey       67 non-null     int64
 1   Country        67 non-null     object
 2   State          67 non-null     object
 3   Square Meters  66 non-null     float64
 4   Open Date      67 non-null     object
dtypes: float64(1), int64(1), object(3)
memory usage: 2.7+ KB

In [42]:
data_stores.isnull().sum()

StoreKey         0
Country          0
State            0
Square Meters    1
Open Date        0
dtype: int64

In [43]:
data_stores.isnull().sum() / data_stores.shape[0] * 100

StoreKey         0.000000
Country          0.000000
State            0.000000
Square Meters    1.492537
Open Date        0.000000
dtype: float64

In [44]:
#The Stores data has just 1 null value which is less than 2% of the entire data so I'll drop tha column
stores_rows_with_null = data_stores[data_stores.isnull().any(axis=1)]
stores_rows_with_null

    StoreKey Country   State  Square Meters Open Date
66         0  Online  Online            NaN  1/1/2010

In [45]:
#The Stores data has just 1 null value which is less than 2% of the entire data so I'll drop tha column
data_stores_cleaned = data_stores.dropna()

In [46]:
data_stores_cleaned.isnull().sum()

StoreKey         0
Country          0
State            0
Square Meters    0
Open Date        0
dtype: int64

In [47]:
data_stores_cleaned.info()

<class 'pandas.core.frame.DataFrame'>
Index: 66 entries, 0 to 65
Data columns (total 5 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   StoreKey       66 non-null     int64
 1   Country        66 non-null     object
 2   State          66 non-null     object
 3   Square Meters  66 non-null     float64
 4   Open Date      66 non-null     object
dtypes: float64(1), int64(1), object(3)
memory usage: 3.1+ KB

In [48]:
#Convert the Open Date column to date format
data_stores_cleaned['Open Date'] = pd.to_datetime(data_stores_cleaned['Open Date'], format='%m/%d/%Y')

<ipython-input-48-c2a172eb25ba>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_stores_cleaned['Open Date'] = pd.to_datetime(data_stores_cleaned['Open Date'], format='%m/%d/%Y')

In [49]:
data_stores_cleaned.info()

<class 'pandas.core.frame.DataFrame'>
Index: 66 entries, 0 to 65
Data columns (total 5 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   StoreKey       66 non-null     int64
 1   Country        66 non-null     object
 2   State          66 non-null     object
 3   Square Meters  66 non-null     float64
 4   Open Date      66 non-null     datetime64[ns]
dtypes: datetime64[ns](1), float64(1), int64(1), object(2)
memory usage: 3.1+ KB

In [50]:
data_stores_cleaned.head(20)

,StoreKey,Country,State,Square Meters,Open Date
0,1,Australia,Australian Capital Territory,595.0,2008-01-01
1,2,Australia,Northern Territory,665.0,2008-01-12
2,3,Australia,South Australia,2000.0,2012-01-07
3,4,Australia,Tasmania,2000.0,2010-01-01
4,5,Australia,Victoria,2000.0,2015-12-09
5,6,Australia,Western Australia,2000.0,2010-01-01
6,7,Canada,New Brunswick,1105.0,2007-05-07
7,8,Canada,Newfoundland and Labrador,2105.0,2014-07-02
8,9,Canada,Northwest Territories,1500.0,2005-03-04
9,10,Canada,Nunavut,1210.0,2015-04-04
10,11,Canada,Yukon,1210.0,2009-06-03
11,12,France,Basse-Normandie,350.0,2012-06-06
12,13,France,Corse,245.0,2013-06-07
13,14,France,Franche-ComtÃ©,350.0,2009-12-15
14,15,France,La RÃ©union,400.0,2015-01-01
15,16,France,Limousin,385.0,2010-06-03
16,17,France,Martinique,350.0,2007-07-08
17,18,France,Mayotte,310.0,2012-08-08
18,19,Germany,Berlin,1295.0,2015-04-04
19,20,Germany,Brandenburg,1715.0,2012-12-15

In [51]:
#Read Sales Data
data_sales = pd.read_csv("/content/Sales.csv", encoding="ISO-8859-1")

In [52]:
data_sales.head(20)

,Order Number,Line Item,Order Date,Delivery Date,CustomerKey,StoreKey,ProductKey,Quantity,Currency Code
0,366000,1,1/1/2016,NaN,265598,10,1304,1,CAD
1,366001,1,1/1/2016,1/13/2016,1269051,0,1048,2,USD
2,366001,2,1/1/2016,1/13/2016,1269051,0,2007,1,USD
3,366002,1,1/1/2016,1/12/2016,266019,0,1106,7,CAD
4,366002,2,1/1/2016,1/12/2016,266019,0,373,1,CAD
5,366002,3,1/1/2016,1/12/2016,266019,0,1080,4,CAD
6,366004,1,1/1/2016,NaN,1107461,38,163,6,GBP
7,366004,2,1/1/2016,NaN,1107461,38,1529,2,GBP
8,366005,1,1/1/2016,NaN,844003,33,421,4,EUR
9,366007,1,1/1/2016,NaN,2035771,43,1617,1,USD
10,366007,2,1/1/2016,NaN,2035771,43,666,5,USD
11,366008,1,1/1/2016,NaN,759705,29,1154,9,EUR
12,366008,2,1/1/2016,NaN,759705,29,2510,1,EUR
13,366008,3,1/1/2016,NaN,759705,29,1060,5,EUR
14,366009,1,1/1/2016,NaN,254540,9,1648,1,CAD
15,366010,1,1/1/2016,1/8/2016,370077,0,618,5,CAD
16,366011,1,1/1/2016,NaN,1984985,66,128,7,USD
17,366011,2,1/1/2016,NaN,1984985,66,1638,1,USD
18,366011,3,1/1/2016,NaN,1984985,66,1634,1,USD
19,366011,4,1/1/2016,NaN,1984985,66,2392,3,USD

In [53]:
data_sales.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 62884 entries, 0 to 62883
Data columns (total 9 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Order Number   62884 non-null  int64
 1   Line Item      62884 non-null  int64
 2   Order Date     62884 non-null  object
 3   Delivery Date  13165 non-null  object
 4   CustomerKey    62884 non-null  int64
 5   StoreKey       62884 non-null  int64
 6   ProductKey     62884 non-null  int64
 7   Quantity       62884 non-null  int64
 8   Currency Code  62884 non-null  object
dtypes: int64(6), object(3)
memory usage: 4.3+ MB

In [54]:
data_sales.isnull().sum()

Order Number         0
Line Item            0
Order Date           0
Delivery Date    49719
CustomerKey          0
StoreKey             0
ProductKey           0
Quantity             0
Currency Code        0
dtype: int64

In [55]:
#1.There are many NaN values
#2.Need to convert the delivery datae and order date to date format

In [56]:
#Convert the Open Date column to date format
data_sales['Order Date'] = pd.to_datetime(data_sales['Order Date'], format='%m/%d/%Y')
data_sales['Delivery Date'] = pd.to_datetime(data_sales['Delivery Date'], format='%m/%d/%Y')

In [57]:
data_sales.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 62884 entries, 0 to 62883
Data columns (total 9 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Order Number   62884 non-null  int64
 1   Line Item      62884 non-null  int64
 2   Order Date     62884 non-null  datetime64[ns]
 3   Delivery Date  13165 non-null  datetime64[ns]
 4   CustomerKey    62884 non-null  int64
 5   StoreKey       62884 non-null  int64
 6   ProductKey     62884 non-null  int64
 7   Quantity       62884 non-null  int64
 8   Currency Code  62884 non-null  object
dtypes: datetime64[ns](2), int64(6), object(1)
memory usage: 4.3+ MB

In [58]:
data_sales.head(20)

,Order Number,Line Item,Order Date,Delivery Date,CustomerKey,StoreKey,ProductKey,Quantity,Currency Code
0,366000,1,2016-01-01,NaT,265598,10,1304,1,CAD
1,366001,1,2016-01-01,2016-01-13,1269051,0,1048,2,USD
2,366001,2,2016-01-01,2016-01-13,1269051,0,2007,1,USD
3,366002,1,2016-01-01,2016-01-12,266019,0,1106,7,CAD
4,366002,2,2016-01-01,2016-01-12,266019,0,373,1,CAD
5,366002,3,2016-01-01,2016-01-12,266019,0,1080,4,CAD
6,366004,1,2016-01-01,NaT,1107461,38,163,6,GBP
7,366004,2,2016-01-01,NaT,1107461,38,1529,2,GBP
8,366005,1,2016-01-01,NaT,844003,33,421,4,EUR
9,366007,1,2016-01-01,NaT,2035771,43,1617,1,USD
10,366007,2,2016-01-01,NaT,2035771,43,666,5,USD
11,366008,1,2016-01-01,NaT,759705,29,1154,9,EUR
12,366008,2,2016-01-01,NaT,759705,29,2510,1,EUR
13,366008,3,2016-01-01,NaT,759705,29,1060,5,EUR
14,366009,1,2016-01-01,NaT,254540,9,1648,1,CAD
15,366010,1,2016-01-01,2016-01-08,370077,0,618,5,CAD
16,366011,1,2016-01-01,NaT,1984985,66,128,7,USD
17,366011,2,2016-01-01,NaT,1984985,66,1638,1,USD
18,366011,3,2016-01-01,NaT,1984985,66,1634,1,USD
19,366011,4,2016-01-01,NaT,1984985,66,2392,3,USD

In [59]:
data_sales.isnull().sum()

Order Number         0
Line Item            0
Order Date           0
Delivery Date    49719
CustomerKey          0
StoreKey             0
ProductKey           0
Quantity             0
Currency Code        0
dtype: int64

In [60]:
data_sales.head(20)

,Order Number,Line Item,Order Date,Delivery Date,CustomerKey,StoreKey,ProductKey,Quantity,Currency Code
0,366000,1,2016-01-01,NaT,265598,10,1304,1,CAD
1,366001,1,2016-01-01,2016-01-13,1269051,0,1048,2,USD
2,366001,2,2016-01-01,2016-01-13,1269051,0,2007,1,USD
3,366002,1,2016-01-01,2016-01-12,266019,0,1106,7,CAD
4,366002,2,2016-01-01,2016-01-12,266019,0,373,1,CAD
5,366002,3,2016-01-01,2016-01-12,266019,0,1080,4,CAD
6,366004,1,2016-01-01,NaT,1107461,38,163,6,GBP
7,366004,2,2016-01-01,NaT,1107461,38,1529,2,GBP
8,366005,1,2016-01-01,NaT,844003,33,421,4,EUR
9,366007,1,2016-01-01,NaT,2035771,43,1617,1,USD
10,366007,2,2016-01-01,NaT,2035771,43,666,5,USD
11,366008,1,2016-01-01,NaT,759705,29,1154,9,EUR
12,366008,2,2016-01-01,NaT,759705,29,2510,1,EUR
13,366008,3,2016-01-01,NaT,759705,29,1060,5,EUR
14,366009,1,2016-01-01,NaT,254540,9,1648,1,CAD
15,366010,1,2016-01-01,2016-01-08,370077,0,618,5,CAD
16,366011,1,2016-01-01,NaT,1984985,66,128,7,USD
17,366011,2,2016-01-01,NaT,1984985,66,1638,1,USD
18,366011,3,2016-01-01,NaT,1984985,66,1634,1,USD
19,366011,4,2016-01-01,NaT,1984985,66,2392,3,USD

In [61]:
#I could see the Delivery Date for those sotres where StoreKey=0.
#I'll impute the Delviery data using the average delivery time from Store 0
data_sales_store_0 = data_sales[data_sales['StoreKey'] == 0]

In [62]:
data_sales_store_0['Delivery Date Delta'] = data_sales_store_0['Delivery Date'] - data_sales_store_0['Order Date']
average_delivery_delta_store_0 = data_sales_store_0['Delivery Date Delta'].mean()
delta_date = average_delivery_delta_store_0
print(delta_date)

4 days 12:41:56.855298139

<ipython-input-62-12e20e7a85aa>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_sales_store_0['Delivery Date Delta'] = data_sales_store_0['Delivery Date'] - data_sales_store_0['Order Date']

In [63]:
data_sales.head(20)

,Order Number,Line Item,Order Date,Delivery Date,CustomerKey,StoreKey,ProductKey,Quantity,Currency Code
0,366000,1,2016-01-01,NaT,265598,10,1304,1,CAD
1,366001,1,2016-01-01,2016-01-13,1269051,0,1048,2,USD
2,366001,2,2016-01-01,2016-01-13,1269051,0,2007,1,USD
3,366002,1,2016-01-01,2016-01-12,266019,0,1106,7,CAD
4,366002,2,2016-01-01,2016-01-12,266019,0,373,1,CAD
5,366002,3,2016-01-01,2016-01-12,266019,0,1080,4,CAD
6,366004,1,2016-01-01,NaT,1107461,38,163,6,GBP
7,366004,2,2016-01-01,NaT,1107461,38,1529,2,GBP
8,366005,1,2016-01-01,NaT,844003,33,421,4,EUR
9,366007,1,2016-01-01,NaT,2035771,43,1617,1,USD
10,366007,2,2016-01-01,NaT,2035771,43,666,5,USD
11,366008,1,2016-01-01,NaT,759705,29,1154,9,EUR
12,366008,2,2016-01-01,NaT,759705,29,2510,1,EUR
13,366008,3,2016-01-01,NaT,759705,29,1060,5,EUR
14,366009,1,2016-01-01,NaT,254540,9,1648,1,CAD
15,366010,1,2016-01-01,2016-01-08,370077,0,618,5,CAD
16,366011,1,2016-01-01,NaT,1984985,66,128,7,USD
17,366011,2,2016-01-01,NaT,1984985,66,1638,1,USD
18,366011,3,2016-01-01,NaT,1984985,66,1634,1,USD
19,366011,4,2016-01-01,NaT,1984985,66,2392,3,USD

In [64]:
#Impute delivery date for other stores
data_sales.loc[data_sales['StoreKey'] != 0, 'Delivery Date'] = data_sales['Order Date'] + average_delivery_delta_store_0
data_sales['Delivery Date'] = data_sales['Delivery Date'].dt.date

data_sales.head(20)

,Order Number,Line Item,Order Date,Delivery Date,CustomerKey,StoreKey,ProductKey,Quantity,Currency Code
0,366000,1,2016-01-01,2016-01-05,265598,10,1304,1,CAD
1,366001,1,2016-01-01,2016-01-13,1269051,0,1048,2,USD
2,366001,2,2016-01-01,2016-01-13,1269051,0,2007,1,USD
3,366002,1,2016-01-01,2016-01-12,266019,0,1106,7,CAD
4,366002,2,2016-01-01,2016-01-12,266019,0,373,1,CAD
5,366002,3,2016-01-01,2016-01-12,266019,0,1080,4,CAD
6,366004,1,2016-01-01,2016-01-05,1107461,38,163,6,GBP
7,366004,2,2016-01-01,2016-01-05,1107461,38,1529,2,GBP
8,366005,1,2016-01-01,2016-01-05,844003,33,421,4,EUR
9,366007,1,2016-01-01,2016-01-05,2035771,43,1617,1,USD
10,366007,2,2016-01-01,2016-01-05,2035771,43,666,5,USD
11,366008,1,2016-01-01,2016-01-05,759705,29,1154,9,EUR
12,366008,2,2016-01-01,2016-01-05,759705,29,2510,1,EUR
13,366008,3,2016-01-01,2016-01-05,759705,29,1060,5,EUR
14,366009,1,2016-01-01,2016-01-05,254540,9,1648,1,CAD
15,366010,1,2016-01-01,2016-01-08,370077,0,618,5,CAD
16,366011,1,2016-01-01,2016-01-05,1984985,66,128,7,USD
17,366011,2,2016-01-01,2016-01-05,1984985,66,1638,1,USD
18,366011,3,2016-01-01,2016-01-05,1984985,66,1634,1,USD
19,366011,4,2016-01-01,2016-01-05,1984985,66,2392,3,USD

In [65]:
data_sales.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 62884 entries, 0 to 62883
Data columns (total 9 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Order Number   62884 non-null  int64
 1   Line Item      62884 non-null  int64
 2   Order Date     62884 non-null  datetime64[ns]
 3   Delivery Date  62884 non-null  object
 4   CustomerKey    62884 non-null  int64
 5   StoreKey       62884 non-null  int64
 6   ProductKey     62884 non-null  int64
 7   Quantity       62884 non-null  int64
 8   Currency Code  62884 non-null  object
dtypes: datetime64[ns](1), int64(6), object(2)
memory usage: 4.3+ MB

In [66]:
data_sales['Delivery Date'] = pd.to_datetime(data_sales['Delivery Date'], format='%m/%d/%Y')

In [67]:
data_sales.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 62884 entries, 0 to 62883
Data columns (total 9 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Order Number   62884 non-null  int64
 1   Line Item      62884 non-null  int64
 2   Order Date     62884 non-null  datetime64[ns]
 3   Delivery Date  62884 non-null  datetime64[ns]
 4   CustomerKey    62884 non-null  int64
 5   StoreKey       62884 non-null  int64
 6   ProductKey     62884 non-null  int64
 7   Quantity       62884 non-null  int64
 8   Currency Code  62884 non-null  object
dtypes: datetime64[ns](2), int64(6), object(1)
memory usage: 4.3+ MB

In [68]:
data_sales.tail(20)

,Order Number,Line Item,Order Date,Delivery Date,CustomerKey,StoreKey,ProductKey,Quantity,Currency Code
62864,2243023,3,2021-02-20,2021-02-24,2089265,45,340,1,USD
62865,2243024,1,2021-02-20,2021-02-24,763573,29,442,1,EUR
62866,2243024,2,2021-02-20,2021-02-24,763573,29,1755,6,EUR
62867,2243025,1,2021-02-20,2021-02-24,1909290,49,1128,2,USD
62868,2243025,2,2021-02-20,2021-02-24,1909290,49,2511,2,USD
62869,2243026,1,2021-02-20,2021-02-24,1737466,49,58,6,USD
62870,2243027,1,2021-02-20,2021-02-22,2044652,0,169,4,USD
62871,2243027,2,2021-02-20,2021-02-22,2044652,0,1635,2,USD
62872,2243028,1,2021-02-20,2021-02-24,1728060,66,1584,3,USD
62873,2243029,1,2021-02-20,2021-02-27,887764,0,1120,3,EUR
62874,2243029,2,2021-02-20,2021-02-27,887764,0,1611,3,EUR
62875,2243029,3,2021-02-20,2021-02-27,887764,0,1583,1,EUR
62876,2243029,4,2021-02-20,2021-02-27,887764,0,580,1,EUR
62877,2243029,5,2021-02-20,2021-02-27,887764,0,1449,4,EUR
62878,2243029,6,2021-02-20,2021-02-27,887764,0,1456,2,EUR
62879,2243030,1,2021-02-20,2021-02-24,1216913,43,632,3,USD
62880,2243031,1,2021-02-20,2021-02-24,511229,0,98,4,EUR
62881,2243032,1,2021-02-20,2021-02-23,331277,0,1613,2,CAD
62882,2243032,2,2021-02-20,2021-02-23,331277,0,1717,2,CAD
62883,2243032,3,2021-02-20,2021-02-23,331277,0,464,7,CAD

In [69]:
data_exchange_rates = pd.read_csv("/content/Exchange_Rates.csv", encoding="ISO-8859-1")

In [70]:
data_exchange_rates.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11215 entries, 0 to 11214
Data columns (total 3 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Date      11215 non-null  object
 1   Currency  11215 non-null  object
 2   Exchange  11215 non-null  float64
dtypes: float64(1), object(2)
memory usage: 263.0+ KB

In [71]:
data_exchange_rates.head(20)

        Date Currency  Exchange
0   1/1/2015      USD    1.0000
1   1/1/2015      CAD    1.1583
2   1/1/2015      AUD    1.2214
3   1/1/2015      EUR    0.8237
4   1/1/2015      GBP    0.6415
5   1/2/2015      USD    1.0000
6   1/2/2015      CAD    1.1682
7   1/2/2015      AUD    1.2323
8   1/2/2015      EUR    0.8304
9   1/2/2015      GBP    0.6477
10  1/3/2015      USD    1.0000
11  1/3/2015      CAD    1.1682
12  1/3/2015      AUD    1.2323
13  1/3/2015      EUR    0.8304
14  1/3/2015      GBP    0.6477
15  1/4/2015      USD    1.0000
16  1/4/2015      CAD    1.1682
17  1/4/2015      AUD    1.2323
18  1/4/2015      EUR    0.8304
19  1/4/2015      GBP    0.6477

In [72]:
data_exchange_rates.isnull().sum()

Date        0
Currency    0
Exchange    0
dtype: int64

In [73]:
#Change the data type of Date Column
data_exchange_rates['Date'] = pd.to_datetime(data_exchange_rates['Date'], format='%m/%d/%Y')

In [74]:
data_exchange_rates.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11215 entries, 0 to 11214
Data columns (total 3 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Date      11215 non-null  datetime64[ns]
 1   Currency  11215 non-null  object
 2   Exchange  11215 non-null  float64
dtypes: datetime64[ns](1), float64(1), object(1)
memory usage: 263.0+ KB

In [75]:
data_exchange_rates.head(20)

         Date Currency  Exchange
0  2015-01-01      USD    1.0000
1  2015-01-01      CAD    1.1583
2  2015-01-01      AUD    1.2214
3  2015-01-01      EUR    0.8237
4  2015-01-01      GBP    0.6415
5  2015-01-02      USD    1.0000
6  2015-01-02      CAD    1.1682
7  2015-01-02      AUD    1.2323
8  2015-01-02      EUR    0.8304
9  2015-01-02      GBP    0.6477
10 2015-01-03      USD    1.0000
11 2015-01-03      CAD    1.1682
12 2015-01-03      AUD    1.2323
13 2015-01-03      EUR    0.8304
14 2015-01-03      GBP    0.6477
15 2015-01-04      USD    1.0000
16 2015-01-04      CAD    1.1682
17 2015-01-04      AUD    1.2323
18 2015-01-04      EUR    0.8304
19 2015-01-04      GBP    0.6477

In [76]:
#Merge Sales dataset with Customer/Product/Store datasets
data_sales_merged = data_sales.merge(data_products, on='ProductKey', how='left')
#data_sales_merged = data_sales_merged.merge(data_stores_cleaned, on='StoreKey', how='left')
data_sales_merged = data_sales_merged.merge(data_cleaned, on='CustomerKey', how='left')
data_sales_merged

,Order Number,Line Item,Order Date,Delivery Date,CustomerKey,StoreKey,ProductKey,Quantity,Currency Code,Product Name,...,Category,Gender,Name,City,State Code,State,Zip Code,Country,Continent,Birthday
0,366000,1,2016-01-01,2016-01-05,265598,10,1304,1,CAD,Contoso Lens Adapter M450 White,...,Cameras and camcorders,Male,Tyler Vaught,London,ON,Ontario,N5W 5K6,Canada,North America,1971-03-23
1,366001,1,2016-01-01,2016-01-13,1269051,0,1048,2,USD,A. Datum SLR Camera X136 Silver,...,Cameras and camcorders,Male,Frank Upchurch,Auberry,CA,California,93602,United States,North America,1995-11-20
2,366001,2,2016-01-01,2016-01-13,1269051,0,2007,1,USD,Fabrikam Microwave 1.5CuFt X1100 Black,...,Home Appliances,Male,Frank Upchurch,Auberry,CA,California,93602,United States,North America,1995-11-20
3,366002,1,2016-01-01,2016-01-12,266019,0,1106,7,CAD,Contoso SLR Camera M146 Orange,...,Cameras and camcorders,Female,Joan Roche,Red Deer,AB,Alberta,T4N 2A6,Canada,North America,1962-08-24
4,366002,2,2016-01-01,2016-01-12,266019,0,373,1,CAD,Adventure Works Laptop8.9 E0890 White,...,Computers,Female,Joan Roche,Red Deer,AB,Alberta,T4N 2A6,Canada,North America,1962-08-24
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
62879,2243030,1,2021-02-20,2021-02-24,1216913,43,632,3,USD,WWI Screen 85in E1010 White,...,Computers,Male,Donald Woodie,Garden Grove,CA,California,92643,United States,North America,1939-04-16
62880,2243031,1,2021-02-20,2021-02-24,511229,0,98,4,EUR,WWI Wireless Bluetooth Stereo Headphones M170 ...,...,Audio,Female,Gabriele Thalberg,Stuttgart Frauenkopf,BW,Baden-Württemberg,70184,Germany,Europe,1940-03-10
62881,2243032,1,2021-02-20,2021-02-23,331277,0,1613,2,CAD,SV DVD 7-Inch Player Portable E200 White,...,"Music, Movies and Audio Books",Male,William Rochelle,Calgary,AB,Alberta,T2T 0C6,Canada,North America,1993-05-25
62882,2243032,2,2021-02-20,2021-02-23,331277,0,1717,2,CAD,MGS Flight Simulator X M250,...,Games and Toys,Male,William Rochelle,Calgary,AB,Alberta,T2T 0C6,Canada,North America,1993-05-25
62883,2243032,3,2021-02-20,2021-02-23,331277,0,464,7,CAD,Proseware LCD22W M2001 Black,...,Computers,Male,William Rochelle,Calgary,AB,Alberta,T2T 0C6,Canada,North America,1993-05-25

In [77]:
data_sales_merged.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 62884 entries, 0 to 62883
Data columns (total 27 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Order Number    62884 non-null  int64
 1   Line Item       62884 non-null  int64
 2   Order Date      62884 non-null  datetime64[ns]
 3   Delivery Date   62884 non-null  datetime64[ns]
 4   CustomerKey     62884 non-null  int64
 5   StoreKey        62884 non-null  int64
 6   ProductKey      62884 non-null  int64
 7   Quantity        62884 non-null  int64
 8   Currency Code   62884 non-null  object
 9   Product Name    62884 non-null  object
 10  Brand           62884 non-null  object
 11  Color           62884 non-null  object
 12  Unit Cost USD   62884 non-null  float64
 13  Unit Price USD  62884 non-null  float64
 14  SubcategoryKey  62884 non-null  int64
 15  Subcategory     62884 non-null  object
 16  CategoryKey     62884 non-null  int64
 17  Category        62884 non-null  object
 18  Gender          62884 non-null  object
 19  Name            62884 non-null  object
 20  City            62884 non-null  object
 21  State Code      62884 non-null  object
 22  State           62884 non-null  object
 23  Zip Code        62884 non-null  object
 24  Country         62884 non-null  object
 25  Continent       62884 non-null  object
 26  Birthday        62884 non-null  datetime64[ns]
dtypes: datetime64[ns](3), float64(2), int64(8), object(14)
memory usage: 13.0+ MB

In [78]:
data_sales_merged.isnull().sum()
data_sales_merged.isnull().sum() / data_sales_merged.shape[0] * 100

Order Number      0.0
Line Item         0.0
Order Date        0.0
Delivery Date     0.0
CustomerKey       0.0
StoreKey          0.0
ProductKey        0.0
Quantity          0.0
Currency Code     0.0
Product Name      0.0
Brand             0.0
Color             0.0
Unit Cost USD     0.0
Unit Price USD    0.0
SubcategoryKey    0.0
Subcategory       0.0
CategoryKey       0.0
Category          0.0
Gender            0.0
Name              0.0
City              0.0
State Code        0.0
State             0.0
Zip Code          0.0
Country           0.0
Continent         0.0
Birthday          0.0
dtype: float64

In [79]:
sales_rows_with_null = data_sales_merged[data_sales_merged.isnull().any(axis=1)]
sales_rows_with_null

Empty DataFrame
Columns: [Order Number, Line Item, Order Date, Delivery Date, CustomerKey, StoreKey, ProductKey, Quantity, Currency Code, Product Name, Brand, Color, Unit Cost USD, Unit Price USD, SubcategoryKey, Subcategory, CategoryKey, Category, Gender, Name, City, State Code, State, Zip Code, Country, Continent, Birthday]
Index: []

[0 rows x 27 columns]

In [80]:
data_sales_merged.head(20)

,Order Number,Line Item,Order Date,Delivery Date,CustomerKey,StoreKey,ProductKey,Quantity,Currency Code,Product Name,...,Category,Gender,Name,City,State Code,State,Zip Code,Country,Continent,Birthday
0,366000,1,2016-01-01,2016-01-05,265598,10,1304,1,CAD,Contoso Lens Adapter M450 White,...,Cameras and camcorders,Male,Tyler Vaught,London,ON,Ontario,N5W 5K6,Canada,North America,1971-03-23
1,366001,1,2016-01-01,2016-01-13,1269051,0,1048,2,USD,A. Datum SLR Camera X136 Silver,...,Cameras and camcorders,Male,Frank Upchurch,Auberry,CA,California,93602,United States,North America,1995-11-20
2,366001,2,2016-01-01,2016-01-13,1269051,0,2007,1,USD,Fabrikam Microwave 1.5CuFt X1100 Black,...,Home Appliances,Male,Frank Upchurch,Auberry,CA,California,93602,United States,North America,1995-11-20
3,366002,1,2016-01-01,2016-01-12,266019,0,1106,7,CAD,Contoso SLR Camera M146 Orange,...,Cameras and camcorders,Female,Joan Roche,Red Deer,AB,Alberta,T4N 2A6,Canada,North America,1962-08-24
4,366002,2,2016-01-01,2016-01-12,266019,0,373,1,CAD,Adventure Works Laptop8.9 E0890 White,...,Computers,Female,Joan Roche,Red Deer,AB,Alberta,T4N 2A6,Canada,North America,1962-08-24
5,366002,3,2016-01-01,2016-01-12,266019,0,1080,4,CAD,Contoso SLR Camera X143 Silver,...,Cameras and camcorders,Female,Joan Roche,Red Deer,AB,Alberta,T4N 2A6,Canada,North America,1962-08-24
6,366004,1,2016-01-01,2016-01-05,1107461,38,163,6,GBP,"Adventure Works 52"" LCD HDTV X790W White",...,TV and Video,Male,Sam Nelson,BURSCOUGH BRIDGE,UK,West Lancashire,L40 8UX,United Kingdom,Europe,1979-11-28
7,366004,2,2016-01-01,2016-01-05,1107461,38,1529,2,GBP,The Phone Company PDA Handheld 3.5 inch M610 B...,...,Cell phones,Male,Sam Nelson,BURSCOUGH BRIDGE,UK,West Lancashire,L40 8UX,United Kingdom,Europe,1979-11-28
8,366005,1,2016-01-01,2016-01-05,844003,33,421,4,EUR,Adventure Works Desktop PC3.0 MS300 Silver,...,Computers,Male,Ouassim Heuver,Leeuwarden,FR,Friesland,8916 CD,Netherlands,Europe,1995-06-22
9,366007,1,2016-01-01,2016-01-05,2035771,43,1617,1,USD,Contoso DVD Player M110 Silver,...,"Music, Movies and Audio Books",Female,Damiana Corona,Winchester,VA,Virginia,22601,United States,North America,1944-10-30
10,366007,2,2016-01-01,2016-01-05,2035771,43,666,5,USD,Proseware Office Jet All-in-One Printer M500 B...,...,Computers,Female,Damiana Corona,Winchester,VA,Virginia,22601,United States,North America,1944-10-30
11,366008,1,2016-01-01,2016-01-05,759705,29,1154,9,EUR,"Fabrikam Trendsetter 1/3"" 8.5mm X200 Blue",...,Cameras and camcorders,Male,Callisto Lo Duca,Casilli,NA,Napoli,80047,Italy,Europe,1976-08-28
12,366008,2,2016-01-01,2016-01-05,759705,29,2510,1,EUR,Contoso Original K1m Li-Ion Standard Battery E...,...,Cell phones,Male,Callisto Lo Duca,Casilli,NA,Napoli,80047,Italy,Europe,1976-08-28
13,366008,3,2016-01-01,2016-01-05,759705,29,1060,5,EUR,A. Datum SLR Camera X139 Gold,...,Cameras and camcorders,Male,Callisto Lo Duca,Casilli,NA,Napoli,80047,Italy,Europe,1976-08-28
14,366009,1,2016-01-01,2016-01-05,254540,9,1648,1,CAD,Contoso DVD 7-Inch Player Portable E200 Black,...,"Music, Movies and Audio Books",Female,Hazel Skiles,Peterborough,ON,Ontario,K9H 2L1,Canada,North America,1988-06-10
15,366010,1,2016-01-01,2016-01-08,370077,0,618,5,CAD,WWI Screen 113in M1610 Black,...,Computers,Female,Carlota Etzel,Sainte-Gertrude,QC,Quebec,G0X 2S0,Canada,North America,1971-02-02
16,366011,1,2016-01-01,2016-01-05,1984985,66,128,7,USD,"Adventure Works 19"" Color Digital TV E35 Brown",...,TV and Video,Male,Mike Mogensen,Chicago,IL,Illinois,60605,United States,North America,1937-06-10
17,366011,2,2016-01-01,2016-01-05,1984985,66,1638,1,USD,Contoso DVD 58 DVD Storage Binder M55 Red,...,"Music, Movies and Audio Books",Male,Mike Mogensen,Chicago,IL,Illinois,60605,United States,North America,1937-06-10
18,366011,3,2016-01-01,2016-01-05,1984985,66,1634,1,USD,Contoso DVD 38 DVD Storage Binder E25 Silver,...,"Music, Movies and Audio Books",Male,Mike Mogensen,Chicago,IL,Illinois,60605,United States,North America,1937-06-10
19,366011,4,2016-01-01,2016-01-05,1984985,66,2392,3,USD,Proseware Air conditioner 10000BTU M490 Red,...,Home Appliances,Male,Mike Mogensen,Chicago,IL,Illinois,60605,United States,North America,1937-06-10

In [81]:
#missing_stores = data_sales[data_sales['StoreKey'].isin(data_sales_merged[data_sales_merged['StoreKey'].isna()]['StoreKey'].unique())]
#print(missing_stores[['Order Number', 'StoreKey']])

In [82]:
#Load the tables into SQL
!pip install mysql-connector-python
!pip install sqlalchemy

Collecting mysql-connector-python
  Downloading mysql_connector_python-9.0.0-cp310-cp310-manylinux_2_17_x86_64.whl.metadata (2.0 kB)
Downloading mysql_connector_python-9.0.0-cp310-cp310-manylinux_2_17_x86_64.whl (19.3 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 19.3/19.3 MB 72.0 MB/s eta 0:00:00
Installing collected packages: mysql-connector-python
Successfully installed mysql-connector-python-9.0.0
Requirement already satisfied: sqlalchemy in /usr/local/lib/python3.10/dist-packages (2.0.32)
Requirement already satisfied: typing-extensions>=4.6.0 in /usr/local/lib/python3.10/dist-packages (from sqlalchemy) (4.12.2)
Requirement already satisfied: greenlet!=0.4.17 in /usr/local/lib/python3.10/dist-packages (from sqlalchemy) (3.0.3)

In [83]:
# Load data into SQL
#!mysql -u root -p -h localhost -P 3306 -e "Select @@hostname;"

!service --status-all
#!service mysql status

 [ - ]  dbus
 [ - ]  fio
 [ ? ]  hwclock.sh
 [ ? ]  kmod
 [ - ]  procps
 [ - ]  rsync
 [ - ]  x11-common

In [84]:
!apt-get update
!apt-get install mysql-server

Hit:1 http://archive.ubuntu.com/ubuntu jammy InRelease
Get:2 http://archive.ubuntu.com/ubuntu jammy-updates InRelease [128 kB]
Hit:3 http://archive.ubuntu.com/ubuntu jammy-backports InRelease
Get:4 http://security.ubuntu.com/ubuntu jammy-security InRelease [129 kB]
Get:5 https://cloud.r-project.org/bin/linux/ubuntu jammy-cran40/ InRelease [3,626 B]
Get:6 https://developer.download.nvidia.com/compute/cuda/repos/ubuntu2204/x86_64  InRelease [1,581 B]
Hit:7 https://ppa.launchpadcontent.net/deadsnakes/ppa/ubuntu jammy InRelease
Hit:8 https://ppa.launchpadcontent.net/graphics-drivers/ppa/ubuntu jammy InRelease
Hit:9 https://ppa.launchpadcontent.net/ubuntugis/ppa/ubuntu jammy InRelease
Ign:10 https://r2u.stat.illinois.edu/ubuntu jammy InRelease
Get:11 https://r2u.stat.illinois.edu/ubuntu jammy Release [5,713 B]
Get:12 https://r2u.stat.illinois.edu/ubuntu jammy Release.gpg [793 B]
Get:13 http://archive.ubuntu.com/ubuntu jammy-updates/main amd64 Packages [2,498 kB]
Get:14 https://developer.download.nvidia.com/compute/cuda/repos/ubuntu2204/x86_64  Packages [945 kB]
Get:15 https://r2u.stat.illinois.edu/ubuntu jammy/main all Packages [8,256 kB]
Get:16 https://r2u.stat.illinois.edu/ubuntu jammy/main amd64 Packages [2,562 kB]
Fetched 14.5 MB in 5s (2,868 kB/s)
Reading package lists... Done
W: Skipping acquire of configured file 'main/source/Sources' as repository 'https://r2u.stat.illinois.edu/ubuntu jammy InRelease' does not seem to provide it (sources.list entry misspelt?)
Reading package lists... Done
Building dependency tree... Done
Reading state information... Done
The following additional packages will be installed:
  libcgi-fast-perl libcgi-pm-perl libclone-perl libencode-locale-perl libfcgi-bin libfcgi-perl
  libfcgi0ldbl libhtml-parser-perl libhtml-tagset-perl libhtml-template-perl libhttp-date-perl
  libhttp-message-perl libio-html-perl liblwp-mediatypes-perl libmecab2 libprotobuf-lite23
  liburi-perl mecab-ipadic mecab-ipadic-utf8 mecab-utils mysql-client-8.0 mysql-client-core-8.0
  mysql-server-8.0 mysql-server-core-8.0
Suggested packages:
  libdata-dump-perl libipc-sharedcache-perl libbusiness-isbn-perl libwww-perl mailx tinyca
The following NEW packages will be installed:
  libcgi-fast-perl libcgi-pm-perl libclone-perl libencode-locale-perl libfcgi-bin libfcgi-perl
  libfcgi0ldbl libhtml-parser-perl libhtml-tagset-perl libhtml-template-perl libhttp-date-perl
  libhttp-message-perl libio-html-perl liblwp-mediatypes-perl libmecab2 libprotobuf-lite23
  liburi-perl mecab-ipadic mecab-ipadic-utf8 mecab-utils mysql-client-8.0 mysql-client-core-8.0
  mysql-server mysql-server-8.0 mysql-server-core-8.0
0 upgraded, 25 newly installed, 0 to remove and 52 not upgraded.
Need to get 29.6 MB of archives.
After this operation, 243 MB of additional disk space will be used.
Get:1 http://archive.ubuntu.com/ubuntu jammy-updates/main amd64 mysql-client-core-8.0 amd64 8.0.39-0ubuntu0.22.04.1 [2,762 kB]
Get:2 http://archive.ubuntu.com/ubuntu jammy-updates/main amd64 mysql-client-8.0 amd64 8.0.39-0ubuntu0.22.04.1 [22.7 kB]
Get:3 http://archive.ubuntu.com/ubuntu jammy/main amd64 libmecab2 amd64 0.996-14build9 [199 kB]
Get:4 http://archive.ubuntu.com/ubuntu jammy-updates/main amd64 libprotobuf-lite23 amd64 3.12.4-1ubuntu7.22.04.1 [209 kB]
Get:5 http://archive.ubuntu.com/ubuntu jammy-updates/main amd64 mysql-server-core-8.0 amd64 8.0.39-0ubuntu0.22.04.1 [17.6 MB]
Get:6 http://archive.ubuntu.com/ubuntu jammy-updates/main amd64 mysql-server-8.0 amd64 8.0.39-0ubuntu0.22.04.1 [1,437 kB]
Get:7 http://archive.ubuntu.com/ubuntu jammy/main amd64 libhtml-tagset-perl all 3.20-4 [12.5 kB]
Get:8 http://archive.ubuntu.com/ubuntu jammy/main amd64 liburi-perl all 5.10-1 [78.8 kB]
Get:9 http://archive.ubuntu.com/ubuntu jammy/main amd64 libhtml-parser-perl amd64 3.76-1build2 [88.4 kB]
Get:10 http://archive.ubuntu.com/ubuntu jammy/main amd64 libcgi-pm-perl all 4.54-1 [188 kB]
Get:11 http://archive.ubuntu.com/ubuntu jammy/main amd64 libfcgi0ldbl amd64 2.4.2-2build2 [28.0 kB]
Get:12 http://archive.ubuntu.com/ubuntu jammy/main amd64 libfcgi-perl amd64 0.82+ds-1build1 [22.8 kB]
Get:13 http://archive.ubuntu.com/ubuntu jammy/main amd64 libcgi-fast-perl all 1:2.15-1 [10.5 kB]
Get:14 http://archive.ubuntu.com/ubuntu jammy/main amd64 libclone-perl amd64 0.45-1build3 [11.0 kB]
Get:15 http://archive.ubuntu.com/ubuntu jammy/main amd64 libencode-locale-perl all 1.05-1.1 [11.8 kB]
Get:16 http://archive.ubuntu.com/ubuntu jammy/main amd64 libfcgi-bin amd64 2.4.2-2build2 [11.2 kB]
Get:17 http://archive.ubuntu.com/ubuntu jammy/main amd64 libhtml-template-perl all 2.97-1.1 [59.1 kB]
Get:18 http://archive.ubuntu.com/ubuntu jammy/main amd64 libhttp-date-perl all 6.05-1 [9,920 B]
Get:19 http://archive.ubuntu.com/ubuntu jammy/main amd64 libio-html-perl all 1.004-2 [15.4 kB]
Get:20 http://archive.ubuntu.com/ubuntu jammy/main amd64 liblwp-mediatypes-perl all 6.04-1 [19.5 kB]
Get:21 http://archive.ubuntu.com/ubuntu jammy/main amd64 libhttp-message-perl all 6.36-1 [76.8 kB]
Get:22 http://archive.ubuntu.com/ubuntu jammy/main amd64 mecab-utils amd64 0.996-14build9 [4,850 B]
Get:23 http://archive.ubuntu.com/ubuntu jammy/main amd64 mecab-ipadic all 2.7.0-20070801+main-3 [6,718 kB]
Get:24 http://archive.ubuntu.com/ubuntu jammy/main amd64 mecab-ipadic-utf8 all 2.7.0-20070801+main-3 [4,384 B]
Get:25 http://archive.ubuntu.com/ubuntu jammy-updates/main amd64 mysql-server all 8.0.39-0ubuntu0.22.04.1 [9,468 B]
Fetched 29.6 MB in 2s (17.1 MB/s)
Preconfiguring packages ...
Selecting previously unselected package mysql-client-core-8.0.
(Reading database ... 123595 files and directories currently installed.)
Preparing to unpack .../00-mysql-client-core-8.0_8.0.39-0ubuntu0.22.04.1_amd64.deb ...
Unpacking mysql-client-core-8.0 (8.0.39-0ubuntu0.22.04.1) ...
Selecting previously unselected package mysql-client-8.0.
Preparing to unpack .../01-mysql-client-8.0_8.0.39-0ubuntu0.22.04.1_amd64.deb ...
Unpacking mysql-client-8.0 (8.0.39-0ubuntu0.22.04.1) ...
Selecting previously unselected package libmecab2:amd64.
Preparing to unpack .../02-libmecab2_0.996-14build9_amd64.deb ...
Unpacking libmecab2:amd64 (0.996-14build9) ...
Selecting previously unselected package libprotobuf-lite23:amd64.
Preparing to unpack .../03-libprotobuf-lite23_3.12.4-1ubuntu7.22.04.1_amd64.deb ...
Unpacking libprotobuf-lite23:amd64 (3.12.4-1ubuntu7.22.04.1) ...
Selecting previously unselected package mysql-server-core-8.0.
Preparing to unpack .../04-mysql-server-core-8.0_8.0.39-0ubuntu0.22.04.1_amd64.deb ...
Unpacking mysql-server-core-8.0 (8.0.39-0ubuntu0.22.04.1) ...
Selecting previously unselected package mysql-server-8.0.
Preparing to unpack .../05-mysql-server-8.0_8.0.39-0ubuntu0.22.04.1_amd64.deb ...
Unpacking mysql-server-8.0 (8.0.39-0ubuntu0.22.04.1) ...
Selecting previously unselected package libhtml-tagset-perl.
Preparing to unpack .../06-libhtml-tagset-perl_3.20-4_all.deb ...
Unpacking libhtml-tagset-perl (3.20-4) ...
Selecting previously unselected package liburi-perl.
Preparing to unpack .../07-liburi-perl_5.10-1_all.deb ...
Unpacking liburi-perl (5.10-1) ...
Selecting previously unselected package libhtml-parser-perl:amd64.
Preparing to unpack .../08-libhtml-parser-perl_3.76-1build2_amd64.deb ...
Unpacking libhtml-parser-perl:amd64 (3.76-1build2) ...
Selecting previously unselected package libcgi-pm-perl.
Preparing to unpack .../09-libcgi-pm-perl_4.54-1_all.deb ...
Unpacking libcgi-pm-perl (4.54-1) ...
Selecting previously unselected package libfcgi0ldbl:amd64.
Preparing to unpack .../10-libfcgi0ldbl_2.4.2-2build2_amd64.deb ...
Unpacking libfcgi0ldbl:amd64 (2.4.2-2build2) ...
Selecting previously unselected package libfcgi-perl:amd64.
Preparing to unpack .../11-libfcgi-perl_0.82+ds-1build1_amd64.deb ...
Unpacking libfcgi-perl:amd64 (0.82+ds-1build1) ...
Selecting previously unselected package libcgi-fast-perl.
Preparing to unpack .../12-libcgi-fast-perl_1%3a2.15-1_all.deb ...
Unpacking libcgi-fast-perl (1:2.15-1) ...
Selecting previously unselected package libclone-perl.
Preparing to unpack .../13-libclone-perl_0.45-1build3_amd64.deb ...
Unpacking libclone-perl (0.45-1build3) ...
Selecting previously unselected package libencode-locale-perl.
Preparing to unpack .../14-libencode-locale-perl_1.05-1.1_all.deb ...
Unpacking libencode-locale-perl (1.05-1.1) ...
Selecting previously unselected package libfcgi-bin.
Preparing to unpack .../15-libfcgi-bin_2.4.2-2build2_amd64.deb ...
Unpacking libfcgi-bin (2.4.2-2build2) ...
Selecting previously unselected package libhtml-template-perl.
Preparing to unpack .../16-libhtml-template-perl_2.97-1.1_all.deb ...
Unpacking libhtml-template-perl (2.97-1.1) ...
Selecting previously unselected package libhttp-date-perl.
Preparing to unpack .../17-libhttp-date-perl_6.05-1_all.deb ...
Unpacking libhttp-date-perl (6.05-1) ...
Selecting previously unselected package libio-html-perl.
Preparing to unpack .../18-libio-html-perl_1.004-2_all.deb ...
Unpacking libio-html-perl (1.004-2) ...
Selecting previously unselected package liblwp-mediatypes-perl.
Preparing to unpack .../19-liblwp-mediatypes-perl_6.04-1_all.deb ...
Unpacking liblwp-mediatypes-perl (6.04-1) ...
Selecting previously unselected package libhttp-message-perl.
Preparing to unpack .../20-libhttp-message-perl_6.36-1_all.deb ...
Unpacking libhttp-message-perl (6.36-1) ...
Selecting previously unselected package mecab-utils.
Preparing to unpack .../21-mecab-utils_0.996-14build9_amd64.deb ...
Unpacking mecab-utils (0.996-14build9) ...
Selecting previously unselected package mecab-ipadic.
Preparing to unpack .../22-mecab-ipadic_2.7.0-20070801+main-3_all.deb ...
Unpacking mecab-ipadic (2.7.0-20070801+main-3) ...
Selecting previously unselected package mecab-ipadic-utf8.
Preparing to unpack .../23-mecab-ipadic-utf8_2.7.0-20070801+main-3_all.deb ...
Unpacking mecab-ipadic-utf8 (2.7.0-20070801+main-3) ...
Selecting previously unselected package mysql-server.
Preparing to unpack .../24-mysql-server_8.0.39-0ubuntu0.22.04.1_all.deb ...
Unpacking mysql-server (8.0.39-0ubuntu0.22.04.1) ...
Setting up libhttp-date-perl (6.05-1) ...
Setting up libmecab2:amd64 (0.996-14build9) ...
Setting up mysql-client-core-8.0 (8.0.39-0ubuntu0.22.04.1) ...
Setting up libfcgi0ldbl:amd64 (2.4.2-2build2) ...
Setting up libclone-perl (0.45-1build3) ...
Setting up libhtml-tagset-perl (3.20-4) ...
Setting up liblwp-mediatypes-perl (6.04-1) ...
Setting up libfcgi-bin (2.4.2-2build2) ...
Setting up libencode-locale-perl (1.05-1.1) ...
Setting up libprotobuf-lite23:amd64 (3.12.4-1ubuntu7.22.04.1) ...
Setting up mecab-utils (0.996-14build9) ...
Setting up libio-html-perl (1.004-2) ...
Setting up mysql-server-core-8.0 (8.0.39-0ubuntu0.22.04.1) ...
Setting up mysql-client-8.0 (8.0.39-0ubuntu0.22.04.1) ...
Setting up libfcgi-perl:amd64 (0.82+ds-1build1) ...
Setting up liburi-perl (5.10-1) ...
Setting up libhttp-message-perl (6.36-1) ...
Setting up mysql-server-8.0 (8.0.39-0ubuntu0.22.04.1) ...
invoke-rc.d: could not determine current runlevel
invoke-rc.d: policy-rc.d denied execution of stop.
update-alternatives: using /etc/mysql/mysql.cnf to provide /etc/mysql/my.cnf (my.cnf) in auto mode
Renaming removed key_buffer and myisam-recover options (if present)
mysqld will log errors to /var/log/mysql/error.log
mysqld is running as pid 3066
Created symlink /etc/systemd/system/multi-user.target.wants/mysql.service → /lib/systemd/system/mysql.service.
invoke-rc.d: could not determine current runlevel
invoke-rc.d: policy-rc.d denied execution of start.
Setting up mecab-ipadic (2.7.0-20070801+main-3) ...
Compiling IPA dictionary for Mecab.  This takes long time...
reading /usr/share/mecab/dic/ipadic/unk.def ... 40
emitting double-array: 100% |###########################################|
/usr/share/mecab/dic/ipadic/model.def is not found. skipped.
reading /usr/share/mecab/dic/ipadic/Postp-col.csv ... 91
reading /usr/share/mecab/dic/ipadic/Noun.place.csv ... 72999
reading /usr/share/mecab/dic/ipadic/Adverb.csv ... 3032
reading /usr/share/mecab/dic/ipadic/Noun.proper.csv ... 27328
reading /usr/share/mecab/dic/ipadic/Noun.adverbal.csv ... 795
reading /usr/share/mecab/dic/ipadic/Postp.csv ... 146
reading /usr/share/mecab/dic/ipadic/Noun.org.csv ... 16668
reading /usr/share/mecab/dic/ipadic/Suffix.csv ... 1393
reading /usr/share/mecab/dic/ipadic/Noun.name.csv ... 34202
reading /usr/share/mecab/dic/ipadic/Noun.verbal.csv ... 12146
reading /usr/share/mecab/dic/ipadic/Others.csv ... 2
reading /usr/share/mecab/dic/ipadic/Noun.number.csv ... 42
reading /usr/share/mecab/dic/ipadic/Noun.nai.csv ... 42
reading /usr/share/mecab/dic/ipadic/Conjunction.csv ... 171
reading /usr/share/mecab/dic/ipadic/Adnominal.csv ... 135
reading /usr/share/mecab/dic/ipadic/Noun.demonst.csv ... 120
reading /usr/share/mecab/dic/ipadic/Noun.csv ... 60477
reading /usr/share/mecab/dic/ipadic/Prefix.csv ... 221
reading /usr/share/mecab/dic/ipadic/Verb.csv ... 130750
reading /usr/share/mecab/dic/ipadic/Symbol.csv ... 208
reading /usr/share/mecab/dic/ipadic/Noun.adjv.csv ... 3328
reading /usr/share/mecab/dic/ipadic/Interjection.csv ... 252
reading /usr/share/mecab/dic/ipadic/Auxil.csv ... 199
reading /usr/share/mecab/dic/ipadic/Noun.others.csv ... 151
reading /usr/share/mecab/dic/ipadic/Adj.csv ... 27210
reading /usr/share/mecab/dic/ipadic/Filler.csv ... 19
emitting double-array: 100% |###########################################|
reading /usr/share/mecab/dic/ipadic/matrix.def ... 1316x1316
emitting matrix      : 100% |###########################################|

done!
update-alternatives: using /var/lib/mecab/dic/ipadic to provide /var/lib/mecab/dic/debian (mecab-dictionary) in auto mode
Setting up mecab-ipadic-utf8 (2.7.0-20070801+main-3) ...
Compiling IPA dictionary for Mecab.  This takes long time...
reading /usr/share/mecab/dic/ipadic/unk.def ... 40
emitting double-array: 100% |###########################################|
/usr/share/mecab/dic/ipadic/model.def is not found. skipped.
reading /usr/share/mecab/dic/ipadic/Postp-col.csv ... 91
reading /usr/share/mecab/dic/ipadic/Noun.place.csv ... 72999
reading /usr/share/mecab/dic/ipadic/Adverb.csv ... 3032
reading /usr/share/mecab/dic/ipadic/Noun.proper.csv ... 27328
reading /usr/share/mecab/dic/ipadic/Noun.adverbal.csv ... 795
reading /usr/share/mecab/dic/ipadic/Postp.csv ... 146
reading /usr/share/mecab/dic/ipadic/Noun.org.csv ... 16668
reading /usr/share/mecab/dic/ipadic/Suffix.csv ... 1393
reading /usr/share/mecab/dic/ipadic/Noun.name.csv ... 34202
reading /usr/share/mecab/dic/ipadic/Noun.verbal.csv ... 12146
reading /usr/share/mecab/dic/ipadic/Others.csv ... 2
reading /usr/share/mecab/dic/ipadic/Noun.number.csv ... 42
reading /usr/share/mecab/dic/ipadic/Noun.nai.csv ... 42
reading /usr/share/mecab/dic/ipadic/Conjunction.csv ... 171
reading /usr/share/mecab/dic/ipadic/Adnominal.csv ... 135
reading /usr/share/mecab/dic/ipadic/Noun.demonst.csv ... 120
reading /usr/share/mecab/dic/ipadic/Noun.csv ... 60477
reading /usr/share/mecab/dic/ipadic/Prefix.csv ... 221
reading /usr/share/mecab/dic/ipadic/Verb.csv ... 130750
reading /usr/share/mecab/dic/ipadic/Symbol.csv ... 208
reading /usr/share/mecab/dic/ipadic/Noun.adjv.csv ... 3328
reading /usr/share/mecab/dic/ipadic/Interjection.csv ... 252
reading /usr/share/mecab/dic/ipadic/Auxil.csv ... 199
reading /usr/share/mecab/dic/ipadic/Noun.others.csv ... 151
reading /usr/share/mecab/dic/ipadic/Adj.csv ... 27210
reading /usr/share/mecab/dic/ipadic/Filler.csv ... 19
emitting double-array: 100% |###########################################|
reading /usr/share/mecab/dic/ipadic/matrix.def ... 1316x1316
emitting matrix      : 100% |###########################################|

done!
update-alternatives: using /var/lib/mecab/dic/ipadic-utf8 to provide /var/lib/mecab/dic/debian (mecab-dictionary) in auto mode
Setting up libhtml-parser-perl:amd64 (3.76-1build2) ...
Setting up mysql-server (8.0.39-0ubuntu0.22.04.1) ...
Setting up libcgi-pm-perl (4.54-1) ...
Setting up libhtml-template-perl (2.97-1.1) ...
Setting up libcgi-fast-perl (1:2.15-1) ...
Processing triggers for man-db (2.10.2-1) ...
Processing triggers for libc-bin (2.35-0ubuntu3.4) ...
/sbin/ldconfig.real: /usr/local/lib/libtbbbind_2_0.so.3 is not a symbolic link

/sbin/ldconfig.real: /usr/local/lib/libur_adapter_level_zero.so.0 is not a symbolic link

/sbin/ldconfig.real: /usr/local/lib/libur_loader.so.0 is not a symbolic link

/sbin/ldconfig.real: /usr/local/lib/libtbb.so.12 is not a symbolic link

/sbin/ldconfig.real: /usr/local/lib/libtbbbind_2_5.so.3 is not a symbolic link

/sbin/ldconfig.real: /usr/local/lib/libur_adapter_opencl.so.0 is not a symbolic link

/sbin/ldconfig.real: /usr/local/lib/libtbbbind.so.3 is not a symbolic link

/sbin/ldconfig.real: /usr/local/lib/libtbbmalloc.so.2 is not a symbolic link

/sbin/ldconfig.real: /usr/local/lib/libtbbmalloc_proxy.so.2 is not a symbolic link

In [85]:
!service mysql start

 * Starting MySQL database server mysqld
su: warning: cannot change directory to /nonexistent: No such file or directory
   ...done.

In [86]:
!mysql -u root -p -h localhost -P 3306 -e "SELECT 1"

Enter password:
+---+
| 1 |
+---+
| 1 |
+---+

In [87]:
!service mysql status

 * /usr/bin/mysqladmin  Ver 8.0.39-0ubuntu0.22.04.1 for Linux on x86_64 ((Ubuntu))
Copyright (c) 2000, 2024, Oracle and/or its affiliates.

Oracle is a registered trademark of Oracle Corporation and/or its
affiliates. Other names may be trademarks of their respective
owners.

Server version		8.0.39-0ubuntu0.22.04.1
Protocol version	10
Connection		Localhost via UNIX socket
UNIX socket		/var/run/mysqld/mysqld.sock
Uptime:			10 sec

Threads: 2  Questions: 11  Slow queries: 0  Opens: 119  Flush tables: 3  Open tables: 38  Queries per second avg: 1.100

In [88]:
!pip show mysql-connector-python
!pip install --upgrade mysql-connector-python

Name: mysql-connector-python
Version: 9.0.0
Summary: MySQL driver written in Python
Home-page: http://dev.mysql.com/doc/connector-python/en/index.html
Author: Oracle and/or its affiliates
Author-email:
License: GNU GPLv2 (with FOSS License Exception)
Location: /usr/local/lib/python3.10/dist-packages
Requires:
Required-by:
Requirement already satisfied: mysql-connector-python in /usr/local/lib/python3.10/dist-packages (9.0.0)

In [89]:
#!service --status-all
#!pip install mysql-connector-python
#import urllib.parse
#encoded_password = urllib.parse.quote_plus(password)

from sqlalchemy import create_engine
import getpass

#Prompt the user for MySQL root password
password = getpass.getpass("Enter MySQL root password: ")

#Create a connection to the SQL database
engine = create_engine(f'mysql+mysqlconnector://root:{password}@127.0.0.1:3306/mysql', connect_args = {'auth_plugin' : 'mysql_native_password'})
data_cleaned.to_sql('Customers', engine, if_exists='replace', index=False)
#data_stores_cleaned.to_sql('Stores', engine, if_exists='replace', index=False)
#data_products.to_sql('Products', engine, if_exists='replace', index=False)
#data_exchange_rates.to_sql('Exchange_Rates', engine, if_exists='replace', index=False)
#data_sales_merged.to_sql('Sales', engine, if_exists='replace', index=False)

print("Data loaded successfully!")

Enter MySQL root password: ··········

ProgrammingError: (mysql.connector.errors.ProgrammingError) 1698 (28000): Access denied for user 'root'@'localhost'
(Background on this error at: https://sqlalche.me/e/20/f405)